<html lang="en">

<head>
    <title>Light Controller</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    {{ colorpicker.loader() }} {{ colorpicker.picker(default_color='rgb(255,255,255)', allowEmpty='false', showAlpha='false', showButtons='true', showInput='true') }}
</head>

<body style="background-color: rgb({{ r }} ,{{ g }},{{ b }})">
    <div class="inner-square">

        <h1>RGB Light Controller</h1>
        <form method='POST'>
            <input type="hidden" name="id" value="instant" />
	    <input type="hidden" name="auto" value="False"/>
            <h3>Instant Colors</h3>
            <button class="instant" name="color" type="submit" value="WARM_WHITE">Warm White</button>
            <button class="instant" name="color" type="submit" value="COOL_WHITE">Cool White</button>
            <button class="instant" name="color" type="submit" value="WHITE">White</button>
            <button class="instant" name="color" type="submit" value="RED">Red</button>
            <button class="instant" name="color" type="submit" value="GREEN">Green</button>
            <button class="instant" name="color" type="submit" value="BLUE">Blue</button>
            <button class="instant" name="color" type="submit" value="GROW_LIGHT">Grow Light</button>
        </form>

        <hr style="border: 2px solid black;" />

        <form method='POST'>
            <input type="hidden" name="id" value="picker" />
	    <input type="hidden" name="auto" value="False"/>

            <h3>Color Picker</h3>
            <div class="form-row">
                <label for='colorpicker'>Color</label>
                <input name='colorpicker' id='colorpicker' class='colorpicker' value='rgb({{ r }},{{ g }},{{ b }})' />
            </div>

            <div class="form-row">
                <button class="submit" name='submit' type='submit'>Update</button>
            </div>
        </form>

        <hr style="border: 2px solid black;" />

        <form method="POST">
            <input type="hidden" name="id" value="special" />
            <h3>Special Functions</h3>
	    <input type="hidden" name="auto" value="False"/>
            <button class="special" name="routine" type="submit" value="turn_off">Turn Off</button>
            <!-- <button class="special" name="routine" type="submit" value="rainbow_fade">Rainbow Fade</button> -->
        </form>

	<hr style="border: 2px solid black;" />

	<form method="POST">
	    <input type="hidden" name="id" value="set_allow_auto" />
	    <input type="hidden" name="auto" value="False"/>
	    <input type="hidden" name="allow_auto" value="False" />
	    <h3>Allow Auto On/Off</h3>
	    <input type="checkbox" name="allow_auto" value="True" {{ allow_auto }}>Allow?<br>
	    <div class="form-row">
	    	<button class="submit" name="submit" type="submit">Update</button>
	    </div>
	</form>

    </div>
</body>

</html>
