body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #1c3144;
    flex-direction: column;
}

.inner-square {
    height: auto;
    width: 40%;
    margin: auto;
    padding: 20px;
    background-color: #efe9f4;
}



.form-row {
    font-size: 2em;
    padding: 20px;
}

button {
    font-size: 20px;
    width: auto;
    height: auto;
}

.instant {
}

.special {
}

@media only screen and (max-width: 600px) {
    .inner-square {
        width: 90%;
    }
}